@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*===================Header========================================*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #01034D;
    color : #fff;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.logo img {
    margin-right: 10px; 
    max-height: 30px; 
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/*===================Display menu========================================*/
@media screen and (max-width: 900px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #fff;
    }

    .cerrar-menu {
        color: #fff;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}
/*===================Detection section========================================*/
.wrapper{
    margin: 10px auto;
    padding: 0 10%;
    padding-bottom: 10px;
}

h1{
    color:#01034D;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 15px 10px rgba(0,0,0,0.2);
}

.container{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.box{
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.box img{
    height: 200px;
}

.box h3{
    color : #444;
    padding: 10px 0;
    font-size: 20px;
}

.box p{
    color: #777;
    font-size: 14px;
    line-height: 1.6;
}

.btn{
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    margin-top: 10px;
    padding: 8px 15px;
    background: #01034D;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}

.btn:hover{
    letter-spacing: 1px ;
}
.btn:hover{
    transform: scale(1..03);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

@media (max-width: 770px){
    .wrapper{
        padding: 20px;
    }
}

/*===================Form========================================*/
.body2{
    margin-top: 50px;
    display : flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
}

.container2{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.container2 .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container2 .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #01034D;
}

.container2 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #01034D;
}

form .gender-details .gender-title{
    font-size: 16px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    width: 100%;
    margin: 14px 0;
    justify-content: space-evenly;
}

.gender-details .category label{
    display: flex;
    align-items: center;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    cursor: pointer;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    background: #01034D;
    border-color: #ccc;
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 35px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #01034D;
}

.uploadimage {
    text-align: center;
    margin-top: 20px;
}

.upload-title {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px; /* Ajusta el espacio entre el título y el botón */
}

.file-label {
    display: inline-block;
    height: 100px;
    width: 150px;
    border-radius: 6px;
    border: 1px dashed #01034D;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    margin-top: 10px;
}

.file-label:hover {
    background-color: #01034D;
    color: #fff;
}

form input[type="file"] {
    display: none;
}