@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #01034D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center; /* Alinea el contenido verticalmente en el centro */
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.logo img {
    margin-right: 10px; /* Espacio a la derecha de la imagen para separarla del texto */
    max-width: 100px; /* Ancho máximo de la imagen */
    max-height: 30px; /* Altura máxima de la imagen */
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
