<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logowhite.svg') }}" type="image/png">
</head>
<body>

    <header>
        <a href="/" class="logo">
            <img src="{{ url_for('static', filename='images/logobar.png') }}" alt="SkinAlerts Logo">
            Skin Alerts
        </a>
        <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
        <nav class="nav" id="nav">
            <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/information">Information</a></li>
                <li><a href="/detection">Detection</a></li>
                <li><a href="/database">Database</a></li>
                <li><a href="/dataprivacy">Data privacy</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <div class = "wrapper">
        <h1> Services </h1>
        <div class ="container">
            <div class = "box">
                <img src="{{ url_for('static', filename='images/bcc_00748.jpg') }}">
                <h3>Basal Cell Carcinoma vs Squamous Cell Carcinoma</h3>
                <p>This service will help you classify the 2 most common types of skin cancer. </p>
                <a href="/detection/sccbcc" class="btn">Start</a>
            </div>

            <div class = "box">
                <img src="{{ url_for('static', filename='images/ISIC_0024319.jpg') }}">
                <h3>Benign vs Malignant</h3>
                <p>This service will help you to identify if the skin lesson is cancer malignant or isn't cancer. </p>
                <a href="/detection/sccbcc" class="btn">Start</a>
            </div>

            <div class = "box">
                <img src="{{ url_for('static', filename='images/ISIC_0000155.jpg') }}">
                <h3>Melanoma vs Non-Melanoma</h3>
                <p>This service will help you classify if the skin lesson is melanoma or no. </p>
                <a href="/detection/sccbcc" class="btn">Start</a>
            </div>
            
        </div>
    </div>
        
</body>
</html>