<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkinAlerts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logowhite.svg') }}" type="image/png">
</head>

<body>
    <header>
        <a href="/" class="logo">
            <img src="{{ url_for('static', filename='images/logobar.png') }}" alt="SkinAlerts Logo">
            Skin Alerts
        </a>
        
        <nav>
            <a href="/">Home</a>
            <a href="/information">Information</a>
            <a href="/detection">Detection</a>
            <a href="/database">Database</a>
        </nav>

        <nav>
            <a href="/dataprivacy">Data privacy</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <div class = "wrapper">
        <h1> Services </h1>
        <div class ="container">
            <div class = "box">
                <img src="{{ url_for('static', filename='images/bcc_00748.jpg') }}">
                <h3>Basal Cell Carcinoma Vs Squamous Cell Carcinoma</h3>
                <p>This service will help you classify the 2 most common types of skin cancer. </p>
                <a href="/detection/sccbcc" class="btn">Start</a>
            </div>

            <div class = "box">
                <img src="{{ url_for('static', filename='images/ISIC_0024319.jpg') }}">
                <h3>Benign vs Malignant</h3>
                <p>This service will help you to identify if the skin lesson is cancer malignant or isn't cancer. </p>
                <a href="/detection/sccbcc" class="btn">Start</a>
            </div>

            <div class = "box">
                <img src="{{ url_for('static', filename='images/ISIC_0000155.jpg') }}">
                <h3>Melanoma vs Non-Melanoma</h3>
                <p>This service will help you classify if the skin lesson is melanoma or no. </p>
                <a href="/detection/sccbcc" class="btn">Start</a>
            </div>
            
        </div>
    </div>
        
</body>
</html>